.container {
width: 1140px;
padding-left: 15px;
padding-right: 15px;
margin-right: auto;
margin-left: auto;
}

.header {
    background-color: #012D63;
}

.colorave-section {
    background-color: #012D63;
}

.footer {
    background-color: #012D63;
}